wandb==0.12.10
pytest==7.1.1
transformers==4.14.1
datasets==1.16.1
soundfile==0.10.3.post1
simple-parsing==0.0.18
torch==1.10.0
pytorch-lightning==1.5.10
torchaudio==0.10.0
phonemizer==3.0.1
rich==11.2.0
librosa==0.8.1
wget==3.2
lightning-bolts==0.6.0
